{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras - JewelJoy Box</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body>
    <header>
        <div class="nav-left">
            <i class="fas fa-bars menu-icon" onclick="toggleMenu()"></i>
        </div>
        <img src="{% static 'imagenes/logo.png' %}" alt="JewelJoy Box" class="logo">
        <div class="nav-right">
            <a href="{% url 'login' %}" class="profile-link"><i class="fas fa-user profile-icon"></i></a>
            <a href="{% url 'cart' %}" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </header>

    <!--Menu interactivo -->
    <nav id="menu" class="menu">
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'productos' %}">Productos</a></li>
            <li><a href="{% url 'register' %}">Registro</a></li>
            <li><a href="{% url 'productos' %}">Productos</a></li>
        </ul>
    </nav>
    
    <main>
        <h1>Carrito de Compras</h1>
        {% if cart %}
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>${{ item.product.price }}</td>
                            <td>${{ item.total_price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="cart-total">
                <h3>Total: ${{ cart.get_total_price }}</h3>
                <a href="{% url 'checkout' %}" class="checkout-btn">Ir a Pagar</a>
            </div>
        {% else %}
            <p>Su carrito está vacío.</p>
        {% endif %}
    </main>
    
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/socket.js' %}"></script>
</body>
</html>
